body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.p-1{
    display: flex;
    justify-content: center;
}

.p-2{
    position: relative;
    width: 600px;
    height: 1024px;
    background-color: darkblue;
    border-radius: 30px 0 0px 30px;
}

.p-3 img{
    position: absolute;
    width: 419px;
    height: 114px;
    top: 88px;
    left: 89px;
    
}

.p-4{
    position: absolute;
    width: 402px;
    height: 20px;
    top: 200px;
    left: 100px;
}

.p-4 p{
    font-weight: 400px;
    font-size: 40px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #ffffff;
}


.p-5{
    position: absolute;
    width: 350px;
    height: 48.84px;
    top: 310px;
    left: 115px;
    border-radius: 10px;
    /* border: 0.3 solid ; */
    background-color: #0f2d6b;

}

.p-5-1 img{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 10px;
}

.p-5-2 p{
    position: absolute;
    height: 17px;
    width: 226px;
    left: 40px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 108%;
    letter-spacing: 0%;
    color: #9b9b9b;
}

.p-6{
    position: absolute;
    width: 350px;
    height: 48.84px;
    top: 367px;
    left: 115px;
    border-radius: 10px;
    background-color: #0f2d6b;
}
.p-6-1 img{
    position: absolute;
    width: 17px;
    height: 20px;
    top: 12px;
    left: 10px;
}

.p-6 p{
    position: absolute;
    width: 76px;
    height: 17px;
    left: 40px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 108%;
    letter-spacing: 0%;
    color: #9b9b9b;
}

.p-6-2 img{
    position: absolute;
    width: 20px;
    height: 16px;
    top: 16.44px;
    right: 10px;
}

.p-7 p{
    position: absolute;
    width: 134px;
    height: 17px;
    top: 410px;
    left: 335px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 108%;
    letter-spacing: 0%;
    color: #ffffff;
}

.p-8{
    position: absolute;
    width: 350px;
    height: 45.2px;
    top: 532px;
    left: 114.5px;
    border-radius: 10px;
    background-color: #4671c6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-8 p{
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
}

.p-9{
    position: absolute;
    top: 612.22px;
    left: 100px;
    color: #9b9b9b;
    display: flex;
    gap: 8px;
}

.p-9 hr{
    border: 1px solid #9b9b9b;
}

.p-10{
    position: absolute;
    width: 350px;
    height: 45.2px;
    top: 657.87px;
    left: 114.5px;

}

.p-11{
    position: absolute;
    width: 350px;
    height: 45.2px;
    top: 714.32px;
    left: 114.5px;
}

.p-12{
    position: absolute;
    width: 350px;
    height: 45.2px;
    top: 770.78px;
    left: 114.5px;
}


.p-13{
    position: absolute;
    display: flex;
    top: 820px;
    left: 149px;
    color: #9b9b9b;
    letter-spacing: 0.5px;
}

.p-13-1{
    color: blue;
}

.p-14 img{
    border-radius: 0px 30px 30px 0px;
}


    /* hover  */
.hover-one,.p-13 span :hover{
    cursor: pointer;
    text-decoration: underline;
}
.hover-two{
    cursor: pointer;
}
.hover :hover{
    cursor: pointer;
    border: 2px solid #4671c6;
}


@media (min-width: 768px) and (max-width: 1250px){
    .p-14{
        width: 200px;
    }
}

@media (min-width: 250px) and (max-width: 550px){
    .p-14{
        display: none;
    }
    .p-2{
        width: 100vw;
    }

    .p-2{
        width: 550px;
        height: 790px;
        border-radius: 30px;
    }

   .p-3 img{
        width: 250px;
        height: 70px;
        left: 65px;
    }

    .p-4{
        width: 250px;
        top: 150px;
        left: 65px;
    }

    .p-4 p{
       font-size: 20px;
    }


    .p-5{
        width: 260px;
        height: 40px;
        top: 260px;
        left: 65px;
    }

    .p-5-1 img{
        top: 8px;
    }

    .p-5-2 p{
        width: 180px;
        left: 35px;
        top: -5px;
    }

    .p-6{
        width: 260px;
        height: 40px;
        top: 306px;
        left: 65px;
    }
    .p-6-1 img{
        top: 9px;
        left: 14px;
    }

    .p-6 p{
        left: 35px;
        top: -5px;
    }

    .p-6-2 img{
        top: 12px;
    }

   .p-7 p{
       width: 140px;
       top: 334px;
       left: 185px;
    }

    .p-8{
        width: 260px;
        height: 40px;
        top: 430px;
        left: 65px;
    }

    .p-9{
        top: 490px;
        left: 60px;

    }

    .p-9 hr{
        border: 1px solid #9b9b9b;
        width: 120px;
    }

    .p-10{
        width: 200px;
        height: 40px;
        top: 530px;
        left: 20px;

    }

    .p-11{
        width: 200px;
        height: 40px;
        top: 580px;
        left: 20px;
    }

    .p-12{
        width: 200px;
        height: 40px;
        top: 630px;
        left: 20px;
    }


    .p-13{
        top: 670px;
        left: 70px;
    }
}